.STYLE1 {color: #ECE9D8}
.STYLE2 {color: #333333; font-size: 14px; }
.STYLE3 {color: #999999; font-size: 14px; }
.STYLE4 {font-size: 36px; font-weight: bold; font-family: "Courier New", Courier, monospace;}
.STYLE5 {font-size: 14px; font-weight: bold; font-family: "Courier New", Courier, monospace;}
.STYLE6 {color: #0066CC; }
.STYLE7 {color: #0066CC; font-size: 16; }
.STYLE12 {font-size: 10}